name: My-GitHubActions-Basics 
env:
  APPLICATION_NAME    : "MyFlack"
  DEPLOY_PACKAGE_NAME : "flack-deploy-ver-${{ github.sha }}"

on:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Print Hellow Message in Build
      run : echo "Hello World from Build job"
      
    - name: Execute few comannds
      run: |
        echo "Hello Message1"
        echo "Hello Message2"
        echo "Aplication name is ${{ env.APPLICATION_NAME }}
   
  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - name: Print Hellow Message in Deploy
      run : echo "Hello World from Deploy job"
      
    - name: Printing Deployment packages
      run: echo "Deploy packages name is ${{ env.DEPLOY_PACKAGE_NAME }} 
