name: My-GitHubActions-Basics 
env:
  APPLICATION_NAME    : "MyFlack"
  DEPLOY_PACKAGE_NAME : "flack-deploy-ver-${{ github.sha }}"

on:
  push:
    branches: 
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Print Hellow Message in Build
      run : echo "Hello World from Build job"
      
    - name: Execute few comannds
      run: |
        echo "Hello Message1"
        echo "Hello Message2"
        echo "Aplication name is ${{ env.APPLICATION_NAME }}"
        
    - name: List current folder
      run : ls -la 
      
    - name: Git clone my repo
      uses: actions/checkout@v1
      
    - name: List current folder
      run : ls -la 
   
  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    
    env: 
      VAR1 : "This is Job Level Variable1"
      VAR2 : "This is Job Level Variable2"
      
    steps:
    - name: Print Hellow Message in Deploy
      run : echo "Hello World from Deploy job"
      
    - name: Print env vars
      run : |
        echo "Var1 = ${{ env.VAR1 }}"
        echo "Var2 = ${{ env.VAR2 }}"
        echo "Var3 = $LOCAL_VAR"
      env:
        LOCAL_VAR : "This is Supper local Environment variables"
      
    - name: Printing Deployment packages
      run : echo "Deploy packages name is ${{ env.DEPLOY_PACKAGE_NAME }} "
      
    - name: Lets test some packages if they are here 1
      run : aws --version
      
    - name: Lets test some packages if they are here 2
      run : zip --version
      
    
